<div class="text-center my-5 d-flex justify-content-center align-items-center flex-column">
 
        <h2 [style.color]=" 'var(--main-color)'">conatct section</h2>
   
    <app-star></app-star>

    <div class="container mx-auto  w-50 text-start">
    <div class="my-3">
        <label #el for="userName" class="position-relative untop top-0" [style.color]=" 'var(--sec-color)'">userName :</label>
        <input type="text" class="form-control w-100"  placeholder="userName" id="userName" >
    </div>
    <div class="my-3">
        <label #el for="userAge" class="position-relative untop top-0" [style.color]=" 'var(--sec-color)'" >userAge  :</label>
        <input type="number" class="form-control" placeholder="userAge " id="userAge ">
    </div>
    <div class="my-3">
        <label #el for="userEmail" class="position-relative untop top-0" [style.color]=" 'var(--sec-color)'" >userEmail  :</label>
        <input type="email" class="form-control" placeholder="userEmail " id="userEmail ">
    </div>
    <div class="my-3">
        <label #el for="userPassword" class="position-relative untop top-0" [style.color]=" 'var(--sec-color)'" >userPassword  :</label>
        <input type="password" class="form-control" placeholder="userPassword " id="userPassword ">
    </div>
    </div>
    

</div>